# Playing music in Python

Extract data of all notes with its corresponding frequency from [website](https://pages.mtu.edu/~suits/notefreqs.html)

In [1]:
import pandas as pd
import winsound as ws

notes = pd.read_html("https://pages.mtu.edu/~suits/notefreqs.html")[1]
notes = notes.iloc[:, :2]

Clean the data

In [19]:
notes

           0        1
0         C0    16.35
1    C#0/Db0    17.32
2         D0    18.35
3    D#0/Eb0    19.45
4         E0    20.60
..       ...      ...
103       G8  6271.93
104  G#8/Ab8  6644.88
105       A8  7040.00
106  A#8/Bb8  7458.62
107       B8  7902.13

[108 rows x 2 columns]

In [2]:
for notSiffra, rad in notes.iterrows():
    if "/" in rad[0]:
        notes.at[notSiffra, 0] = rad[0][:3]
        
    notes.at[notSiffra, 1] = int(round (rad[1]))
    
notes = notes.set_index(0)

In [3]:
notes[1] = notes[1].astype(int)

In [4]:
notes

        1
0
C0     16
C#0    17
D0     18
D#0    19
E0     21
..    ...
G8   6272
G#8  6645
A8   7040
A#8  7459
B8   7902

[108 rows x 1 columns]

Testing. Will play all notes in data

In [30]:
# Play all notes
for index, row in notes.iterrows():
    if 37 <= row[1] <= 32767:
        ws.Beep(int(row[1]), 500)

In [ ]:
while True:
    inputNote = input('Input a note:')
    noteFreq = notes.loc[inputNote, 1]
    ws.Beep(noteFreq, 1000)

In [5]:
notes.to_csv('note_frequencies.csv')

# Learning Python

Showcasing of indexing

In [7]:
for item in [1,2,3,4,5,6]:
    print(item)

1
2
3
4
5
6